<!DOCTYPE html>
{% autoescape true %}
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>ヨウスケヤマグチ研究所｜薬局向けサービス開発の実験場</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/vendor/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../static/vendor/css/skin-black.min.css">
  <style type="text/css">
    .large-text-content{font-size:large;}
  </style>
  {% block css %}
  {% endblock css %}
  <link rel="stylesheet" href="/static/css/override.css">
</head>
<body class="hold-transition skin-black sidebar-mini sidebar-collapse" id="js-common-sidebar-collapse">
    <div class="wrapper">
      <header class="main-header">
        <a href="/" class="logo p-hidden-md-down">
          <span class="logo-mini" id="js-common-app-mini-title"><b></b> </span>
          <span class="logo-lg" id="js-common-app-title"><b></b> </span>
        </a>
        {% include 'header-nav.html' %}
      </header>

      {% block sidebar %}
      {% endblock sidebar %}

      {% block content %}
      {% endblock content %}

      <footer class="main-footer hidden-print">
        <strong>&copy; yousukeyamaguchi</strong> All rights reserved.
      </footer>
      <div class="control-sidebar-bg"></div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
    <script>
      var AdminLTEOptions = { sidebarExpandOnHover: true };
    </script>
    <script src="../static/vendor/js/app.min.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/connect.js"></script>
  {% block script %}
  {% endblock script %}
</body>
</html>
{% endautoescape %}
