<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>

  <span class="logo p-logo" id="js-common-app-md-title"></span>

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">

      <!-- Messages: style can be found in dropdown.less-->
      <!-- <li class="dropdown notifications-menu p-notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell-o"></i><span class="label label-success" id="js-info-new-badge"></span>
          お知らせ
        </a>
        <ul class="dropdown-menu">
          <li class="header">新機能や障害対応情報</li>
          <li>
            <ul class="menu" id="js-info-message-list"></ul>
          </li>
        </ul>
      </li> -->

      <!-- Notifications Menu -->
      <li class="dropdown notifications-menu p-notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-th-large"></i>　ホームページ一覧
          <span class="label label-warning"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="header"> ホームページ一覧</li>
          <li>
            <ul class="menu">
              <li>
                <a href="/rxbox">
                  <i class="fa fa-paper-plane-o text-aqua"></i> ファーマクラウド
                </a>
                <a href="/medshare">
                  <i class="fa fa-exchange text-red"></i> 薬局お茶の水ファーマシー
                </a>
                <a href="/rxbox">
                  <i class="fa fa-paper-plane-o text-aqua"></i> ザイシ
                </a>
                <a href="/medshare">
                  <i class="fa fa-exchange text-red"></i> ファーサス
                </a>
                <a href="/medshare">
                  <i class="fa fa-exchange text-red"></i> 空飛ぶ処方せん
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- User Account Menu -->
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="../static/imgs/profile_pc.jpg" class="user-image" alt="User Image">
          <span class="hidden-xs">山口 洋介</span>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header">
            <img src="../static/imgs/profile_pc.jpg" class="img-circle" alt="User Image">
            <p>
              山口 洋介
              <small>yousuke yamaguchi</small>
            </p>
          </li>
          <li class="user-body">
            <div class="col-xs-6 text-center">
              <a href="#">自己紹介</a>
            </div>
            <div class="col-xs-6 text-center">
              <a href="#">連絡先</a>
            </div>
          </li>
          <li class="user-footer">
            <div class="text-center">
              <a href="http://yousukeyamaguchi.com">ヨウスケヤマグチ・ドットコムへ</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>