<aside class="main-sidebar">
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">メニュー</li>
      <li>
        <a href="/">
          <i class="fa fa-inbox"></i>
          <span>メニュー</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-database"></i> <span>NDBオープンデータ</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/ndb/map"><i class="fa fa-bell"></i>マップ</a></li>
          <li><a href="/ndb/rank"><i class="fa fa-pencil"></i>ランキング</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i> <span>パンフレット</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="https://script.google.com/a/macros/pharsas.com/s/AKfycbyYEsLSSXPZQHhikX1KoL0ZlD5_ja3wmBVnkbioaOEt/dev?micode={{ micode }}" target="_blank"><i class="fa fa-file-pdf-o"></i> 患者さま配布用（アプリ）</a></li>
          <li><a href="https://script.google.com/a/macros/pharsas.com/s/AKfycbwW61zKYOC3PghvKXaucxDZ3mgy8XvnlK7Q29rQc3w/dev?micode={{ micode }}" target="_blank"><i class="fa fa-file-pdf-o"></i> 患者さま配布用（メール）</a></li>
          <li><a href="https://drive.google.com/file/d/0B4mCd0WMReekekV5U08tQlFXRFE/view?usp=sharing" target="_blank"><i class="fa fa-file-pdf-o"></i> 患者さま配布用（通知）</a></li>
          <li><a href="https://script.google.com/a/macros/pharsas.com/s/AKfycbwqj__OF_m3kwjSipTZspmQFIKEW5E588UxOR7AB98/dev?micode={{ micode }}" target="_blank"><i class="fa fa-file-o"></i> 手入力による薬局登録</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-database"></i> <span>データ</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/rxbox/patient"><i class="fa fa-list"></i>患者情報リスト</a></li>
          <li><a href="/rxbox/history"><i class="fa fa-calendar"></i>月別受信回数</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-chain"></i> <span>リンク</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="https://drive.google.com/file/d/0B4mCd0WMReekS1BvNHJsaU9faHM/view?usp=sharing" target="_blank"><i class="fa fa-file-pdf-o" target="_blank"></i>操作マニュアル</a></li>
          <li><a href="http://xn--dgtv77g.biz/%E3%83%97%E3%83%A9%E3%82%A4%E3%83%90%E3%82%B7%E3%83%BC%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC/" target="_blank"><i class="fa fa-file-pdf-o"></i>プライバシーポリシー</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>