@media screen and (min-width: 768px) {
    .modal-lg { width: 768px; }
}

@media screen and (min-width: 992px) {
    .modal-lg { width: 992px; }
}

/* Med Share */
.mds-annotation {
    font-size: small;
}
[v-cloak] {
    display: none;
}