{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="../static/css/common.css">
{% endblock css %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}
{% block content %}
{% raw %}
<div class="content-wrapper large-text-content">
  <section class="content-header">
    <h1>
      ヨウスケヤマグチ研究所にようこそ
      <small>株式会社ファーマクラウドCEO 薬局向けサービス開発の実験場です。</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-link"></i> top</a></li>
    </ol>
  </section>

  <section class="content" id="js-rxbox-rxlist-vue" v-cloak>
    <div class="callout callout-info lead">
      <h4>本サービスのＵＲＬを <a href="https://pharmacy.pharsas.com">https://pharmacy.pharsas.com</a> に変更しました。お気に入り／ブックマークをしている方は修正をお願い致します。</h4>
    </div>
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
      </div>
      <div class="box-body no-padding">
        <table class="table rx-table">
          <tr>
            <th>＃ステータス</th>
            <th>受信日時</th>
            <th>処方せん</th>
            <th>患者連絡先</th>
            <th>訪問日時</th>
            <th>受信枚数</th>
          </tr>
          <tr v-for="rx in vRxlist" data-toggle="modal" data-target="{{ rx.modalTarget }}" v-on:click="openRxView(rx)" class="{{ vStatus[ rx.status ].table }}">
            <td><i class="fa {{ vStatus[ rx.status ].icon }}"></i> {{ vStatus[ rx.status ].status }}</td>
            <td>{{ rx.createdAt }}</td>
            <td><i class="fa fa-picture-o fa-lg"></i></td>
            <td><span v-if="rx.mail">{{ rx.mail }}</span><span v-else="rx.phone">{{ rx.phone }}</span></td>
            <td>{{ rx.visitDate }}</td>
            <td>{{ rx.images.length }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div v-for="rx in vRxlist">
      <div class="modal" id="{{ rx.modalId }}" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog modal-lg" role="document" data-keyboard="true">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">閉じる</span></button>
              <h4 class="modal-title"><i class="fa {{ vStatus[ rx.status ].icon }}"></i> {{ vStatus[ rx.status ].status }} {{ rx.createdAt }}</h4>
            </div>
            <div class="modal-body">
              <div class="nav-tabs-custom">

                <ul class="nav nav-tabs">
                  <li class="active"><a href="{{ rx.rxTabHref }}" data-toggle="tab">処方せん画像</a></li>
                  <li><a href="{{ rx.questionTabHref }}" data-toggle="tab">アンケート結果</a></li>
                  <li><a href="{{ rx.messageTabHref }}" data-toggle="tab">患者への通知</a></li>
                  <li><a href="{{ rx.deliveryTabHref }}" data-toggle="tab">投薬完了</a></li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active" id="{{ rx.rxTabId }}">
                    <button type="button" class="btn btn-default btn-lg" v-on:click="directPrint(rx.images)"><i class="fa fa-print"></i> 印刷</button>
                    <button type="button" class="btn btn-default btn-lg" v-on:click="rotateRx"><i class="fa fa-rotate-right"></i> 画像を回転</button>
                    <br><br>
                    <div id="js-rorate-imgs" v-for="image in rx.images">
                      <img class="rx-image" v-bind:src="image">
                    </div>
                  </div>

                  <div class="tab-pane" id="{{ rx.questionTabId }}">
                    <table class="table table-striped">
                      <tr>
                        <td>電話番号</td>
                        <td><a href ="tel:{{ rx.phone }}">{{ rx.phone }}</a></td>
                      </tr>
                      <tr>
                        <td>メールアドレス</td>
                        <td><a href="mailto:{{ rx.mail }}">{{ rx.mail }}</a></td>
                      </tr>
                      <tr>
                        <td>訪問日時</td>
                        <td>{{ rx.visitDate }}</td>
                      </tr>
                      <tr>
                        <td>ジェネリック使用の有無</td>
                        <td>{{ rx.generic }}</td>
                      </tr>
                      <tr>
                        <td>お薬手帳の有無</td>
                        <td>{{ rx.medicineNotebook }}</td>
                      </tr>
                      <tr>
                        <td v-if="rx.deliveryMedicine || !rx.deliveryMedicine === '' ">お薬配達の有無</td>
                        <td>{{ rx.deliveryMedicine }}</td>
                      </tr>
                    </table>
                  </div>

                  <div class="tab-pane" id="{{ rx.messageTabId }}">
                    <p><strong>固定メッセージ</strong></p>
                    <span v-for="status in vStatus">
                      <span v-if="status.button">
                        <button type="button" class="btn {{ status.color }} btn-lg" v-on:click="sendMessage(rx, $key)" v-bind="{disabled: isDisableStatus(rx.status, $key)}"><i class="fa {{ status.icon }}"></i> {{ status.button }}</button>
                      </span>
                    </span>
                    <br><br>
                  </div>

                  <div class="tab-pane" id="{{ rx.deliveryTabId }}">
                      <button type="button" class="btn {{ vStatus['DELIVERY'].color }} btn-lg" v-on:click="changeRxStatus(rx.rxId, 'DELIVERY')" v-bind="{disabled: rx.status=='DELIVERY'}"><i class="fa {{ vStatus['DELIVERY'].icon }}"></i> {{ vStatus['DELIVERY'].status }}</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
{% endraw %}
{% endblock content %}
{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>
<script src="../static/js/connect.js"></script>
{% endblock script %}